<h3>Belépés</h3>

<div class="alert alert-danger d-none" role="alert" id="alertBox">

</div>          

<div class="form-floating mb-3">
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
    <label for="floatingInput">E-mail cím</label>
</div>

<div class="form-floating mb-3">
    <input type="password" class="form-control" id="jelszo" placeholder="Jelszó">
    <label for="passLBL">Jelszó</label>
</div>

<div>
    <input type="checkbox" id="emlek" name="emlek" value="" class="mb-3 mr-12"/>
    <label for="emlek">Emlékezzen rám</label>
  </div>
  

<button type="button" class="btn btn-outline-primary" onclick="Login()">Belépés</button>