<h3>Regisztárció</h3>

<div class="alert alert-danger d-none" role="alert" id="alertBox">

</div>     

<div class="form-floating mb-3">
    <input type="email" class="form-control" id="name" placeholder="name@example.com">
    <label for="floatingInput">Felhasználó név</label>
</div>

<div class="form-floating mb-3">
    <input type="email" class="form-control" id="email" placeholder="name@example.com">
    <label for="floatingInput">E-mail cím</label>
</div>

<div class="form-floating mb-3">
    <input type="password" class="form-control" id="jelszo" placeholder="Jelszó">
    <label for="passLBL">Jelszó</label>
</div>

<div class="form-floating mb-3">
    <input type="password" class="form-control" id="jelszoMeg" placeholder="Jelszó megerősítése">
    <label for="confPassLbl">Jelszó megerősítése</label>
</div>

<button type="button" class="btn btn-outline-primary" onclick="registerUser()">Regisztráció</button>